.canvas {
  display: flex;
}
.bar-container{
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
}
.bara {

 
  transition: all 2s;
  width: 90%;

}

.bars-label {
  display: flex;
  flex-direction: row;
}
.canvas{
  height: 280px;
  width: 280px;
  margin: auto;
}