.canvas {
  display: flex;
}
.bar-container{

  display: flex;
  flex-direction: row;
}
.bar {
  background-color: aqua;
  width: 2rem;
  min-width: 1rem;
  border: 1px white solid;
  margin: 1%

}
.bars-label {
  display: flex;
  flex-direction: row;
}
.canvas{
  height: 280px;
  width: 280px;
  margin: auto;
}