.canvas {
  display: flex;
}
.bar {

  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: space-between;
  margin: 5rem;
  padding-top: 2rem;
}
.bars{
  background-color: aqua;
  width: 2rem;
  min-width: 1rem;
  border: 1px white solid;

}